@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap");

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 100%;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("https://images.pexels.com/photos/1292996/pexels-photo-1292996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  position: relative;
}

.header h1 {
  line-height: 7rem;
  color: #fff;
  font-family: Archivo;
  font-weight: 700;
  font-size: 80px;
}

.header h1 span {
  background-color: rgba(0, 34, 107, 0.6);
  padding: 10px;
  text-transform: uppercase;
}

.header-content p {
  padding-top: 16px;
  color: #dedede;
  font-family: Archivo;
  font-weight: 400;
  font-size: 24px;
}

.header-content {
  width: 50%;
}

.about-him-content {
  width: 100%;
  display: flex;
}

.about-him-content p {
  float: left;
  background: #f9f7f7;
  color: #434343;
  font-family: Archivo;
  font-size: 20px;
  padding: 40px;
}

.about-him-content img {
  width: 20%;
  float: right;
}

.contact h2,
.depoiment h2,
.lucas-video h2,
.galery h2,
.about-him h2 {
  font-family: Archivo;
  font-weight: 700;
  color: #00309e;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding: 40px;
}
.depoiment {
  background: #f9f7f7;
  height: 60vh;
}

.depoiment-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.depoiment-card .card {
  border-radius: 8px;
  width: 18%;
  height: 400px;
  background: #fff;
  display: inline-block;
  margin: 0 10px;
}

footer {
  position: absolute;
  width: 100%;
  height: 10vh;
  background-color: #001138;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  color: white;
  text-align: center;
  font-family: Archivo;
}

.contact div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size: 24px;
  color: #fff;
  font-family: Archivo;
  background-color: rgba(191, 165, 38, 0.6);
}

.depoiment-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 20px;
}

.depoiment-card i {
  color: #f9d400;
}

.depoiment-card h3 {
  color: #434343;
  font-family: Archivo;
  font-weight: 700;
  font-size: 18px;
}

.starts li {
  display: inline-block;
}

.header-card-content {
  float: right;
  padding: 35px 60px 0 0;
}

.depoiment-card p {
  color: #434343;
  font-size: 16px;
  padding: 0 20px 20px 20px;
  font-family: Archivo;
}

.music iframe {
  width: 20%;
  float: right;
}

.lucas-video div {
  width: 100%;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}
